/* plus-jakarta-sans-regular - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    src: local(''),
    url('../fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/plus-jakarta-sans-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    src: local(''),
    url('../fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/plus-jakarta-sans-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    src: local(''),
    url('../fonts/plus-jakarta-sans-v3-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/plus-jakarta-sans-v3-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    src: local(''),
    url('../fonts/plus-jakarta-sans-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/plus-jakarta-sans-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* VARIABLES */

*{
    box-sizing: border-box;
}
/* GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
}
body{
    font-family:'Plus Jakarta Sans', "Arial", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}



/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    max-width: 1256px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}


/* Header start */

.header {
    padding: 30px 0;
    background-color: #fff;
    border-bottom: 1px solid #eeeef4;
}

.header__nav{
    position: fixed;
    right: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.7s;
    transform: translateX(130%);
}

.shownav .header__nav {
    transform: translateX(0);
}

.shownav .header__open-js {
    background-image: url("../images/close.svg");
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 0;
    list-style: none;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    transition: 0.5s;
}

.header__logo-img:hover {
    opacity: 0.8;
}

.header__logo-img:active {
    opacity: 0.6;
}

.header__burger {
    background-image: url("../images/burger.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__link {
    display: inline-block;
    margin-bottom: 16px;
    line-height: 24px;
    color:#fff;
    text-decoration: none;
    transition: 0.5s;
}

.header__link:hover {
    color:#1aab7b;
}

.header__link:active {
    color:#1aab7b;
    opacity: 0.6;
}


.header__button {
    display: none;
}

.body-js{
    overflow: hidden;
}

/* ================= Media start =================  */

@media only screen and (min-width:768px){
    
    .header__wrapper {
        display: flex;
        align-items: center;
    }
    
    .header__nav {
        position: static;
        transform: translateX(0);
        background-color: transparent;
        width: max-content;
    }
    
    .header__button {
        display: block;
        margin-left: auto;
        padding: 12px 24px;
        background-color: #101010;
        border-radius: 6px;
        border: 1px solid #101010;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .header__button:hover {
        background-color: #fff;
        border: 1px solid #1aab7b;
    }
    
    .header__button:hover .header__button-link {
        color: #1aab7b;
    }
    
    .header__button:active {
        background-color: #707070;
        border: 1px solid #707070;
    }
    
    .header__button:active .header__button-link {
        color:#fff;
    }
    
    .header__button-link {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        text-decoration: none;
    }
    
    .header__burger {
        display: none;
    }
    
    .header__link {
        color:#101010;
        margin-bottom: 0;
        margin-right: 30px;
    }
    
    .header__list {
        align-items: flex-start;
        flex-direction: row;
        margin: 0 0 0 50px;
        padding-top: 0;
    }
    
}

/* ================= Media end =================  */

/* ========================  Header end ======================== */


/* ============================ Hero start ============================ */

.hero {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #fff;
}



.hero__img {
    max-width: 592px;
    width: 100%;
    margin: 0 auto;
}

.hero__info {
    max-width: 537px;
    width: 100%;
    margin: 0 auto 40px;
}

.hero__title {
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    margin: 0 0 20px;
}

.hero__text {
    font-weight: 400;
    line-height: 27px;
    color: #636f87;
    margin: 0 0 30px;
}

.hero__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
    color: #fff;
    background-color: #1aab7b;
    border: 1.5px solid #1aab7b;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.5s;
}

.hero__link:hover {
    background-color: #fff;
    color:#1aab7b;
}

.hero__link:active {
    background-color: #1aab7b;
    color: #fff;
    opacity: 0.7;
}

@media only screen and (min-width:768px){
    
    .hero__wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .hero__img {
        max-width: 300px;
        width: 100%;
        height: 334px;
        margin: 0;
    }
    
    .hero__info {
        margin: 0;
    }
    
    .hero__title  {
        text-align: start;
        font-size: 40px;
        line-height: 57px;
    }
    
    .hero__text {
        margin-bottom: 40px;
    }
    
}

@media only screen and (min-width:992px){
    
    .hero__img {
        max-width: 400px;
    }
    
    .hero__title {
        font-size: 56px;
        line-height: 78px;
    }
    
    .hero__text {
        font-size: 18px;
        margin-bottom: 50px;
    }
    
    .hero__link {
        display: inline-block;
        padding: 20px 40px;
        margin-top: 10px;
    }
    
}

@media only screen and (min-width:1200px) {
    
    .hero {
        padding-bottom: 156px;
    }
    
    .hero__img  {
        max-width: 537px;
    }
}

/* ============================ Hero end ============================ */


/* =========================== Brand start ========================== */

.brand {
    padding: 50px 0;
}

.brand__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.brand__list {
    list-style: none;
    padding-left: 0;
}

.brand__item {
    max-width: 325px;
    width: 100%;
    margin: 0 auto 30px;
    padding: 30px 30px 40px;
    background-color: #f2f4f6;
    border: 2px solid #e1e7ed;
    border-radius: 6px;
    transition: 0.5s;
    cursor: pointer;
}

.brand__item:nth-of-type(5){
    margin-bottom: 0;
}

.brand__item:hover {
    background-color:#1AAB7B;
}

.brand__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.brand__info-subtitle {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: #101010;
    margin: 0;
}

.brand__item:hover .brand__info-subtitle {
    color:#fff;
}

.brand__item:hover .brand__info-img {
    background-color: #fff;
}

.brand__item:hover .brand__item-text{
    color:#fff;
}

.brand__item:hover .brand__item-link{
    color:#fff;
    text-decoration: underline;
}

.brand__info-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: #e1e7ed;
    border-radius: 84px;
    transition: 0.5s;
}

.brand__info-img::after {
    position: absolute;
    background-image: url("../images/designer.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    content: "";
}

.brand__info-smm::after {
    background-image: url("../images/smm.svg");
}

.brand__info-branding::after {
    background-image: url("../images/branding.svg");
}

.brand__info-developer::after {
    background-image: url("../images/developer.svg");
}

.brand__info-graphic::after {
    background-image: url("../images/graphicdes.svg");
}

.brand__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 23px;
    height: 162px;
    color: #636F87;
}

.brand__item-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

@media only screen and (min-width:768px){
    
    .brand__list {
        display: flex;
        flex-wrap: wrap;
    }
}


@media only screen and (min-width:992px){
    
    .brand__item {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .brand__item:nth-of-type(4){
        margin-bottom: 0;
    }
    
    .brand__item-text {
        font-size: 18px;
    }
    
}


@media only screen and (min-width:1200px){
    
    .brand__item {
        max-width: 384px;
    }
    
    .brand__item:nth-of-type(4){
        margin-left: 0;
        margin-right: 0;
    }
    .brand__item:nth-of-type(5){
        margin-left: 30px;
        margin-right: 0;
    }
    
}


/* =========================== Brand end ========================== */


/* =========================== Work start ======================== */

.work {
    padding: 70px 0 100px;
    background-color: #fff;
}

.work__info {
    max-width: 650px;
    width: 100%;
    margin: 0 auto 60px;
}

.work__info-title {
    margin-bottom: 16px;
}

.work__info-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #636f87;
    margin-top: 0;
    margin-bottom: 0;
}

.work__list {
    list-style: none;
    padding-left: 0;
}

.work__item {
    margin-bottom: 80px;
}

.work__item:nth-of-type(3){
    margin-bottom: 0;
}

.work__item-reverse {
    flex-direction: row-reverse;
}

.work__item-img {
    max-width: 488px;
    width: 100%;
    height: 390px;
    margin: 0 auto 40px;
}

.work__item-info {
    max-width: 488px;
    width: 100%;
    margin: 0 auto;
}

.work__reverse {
    max-width: 592px;
    width: 100%;
    margin: 0 auto;
}

.work__info-reverse {
    max-width: 592px;
    width: 100%;
}

.work__title-reverse {
    max-width: 488px;
    width: 100%;
    margin: 0 auto;
}

.work__item-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color:#101010;
    margin-top: 0;
    margin-bottom: 20px;
}

.work__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin: 0;
    color: #636f87;
}

@media only screen and (min-width:768px){
    
    .work {
        padding: 100px 0 150px;
    }
    
    .work__info-text {
        font-size: 18px;
    }
    
    .work__info  {
        margin-bottom: 90px;
    }
    
    .work__item {
        display: flex;
        margin-bottom: 100px;
    }
    
    .work__item-img {
        max-width: 300px;
        height: 320px;
        margin: 0;
    }
    
    .work__item-info  {
        margin: 0 0 0 32px;
        line-height: 56px;
    }
    
    .work__reverse{
        margin-right: 32px;
        line-height: 56px;
    }
    
    .work__title-reverse {
        margin-left: 0;
        margin-right: 0;
    }
    
    .work__item-title {
        font-size: 40px;
        text-align: start;
    }
    
    .work__item-text {
        text-align: start;
    }
    
    .brand__title {
        font-size: 30px;
    }
}


@media only screen and (min-width:992px){
    
    .work__item-img {
        max-width: 488px;
        height: 390px;
        width: 100%;
    }
    
    .brand__title {
        font-size: 36px;
    }
    
}

/* =========================== Work end ======================== */


/* ========================== Contact start ====================== */

.contact {
    padding: 100px 0 150px;
    background-color: #fff;
}


.contact__title {
    max-width: 411px;
    width: 100%;
    font-weight: 700;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.contact__form {
    max-width: 1008px;
    width: 100%;
    margin: 0 auto;
    padding: 42px 20px;
    background-color: #f2f4f6;
    border-radius: 6px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form-input {
    max-width: 384px;
    width: 100%;
    padding-bottom: 21px;
    border: none;
    outline: none;
    background-color: transparent;
}

::placeholder {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #101010;
}

.contact__form-select {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #101010;
}



.contact__line {
    max-width: 384px;
    width: 100%;
    margin-bottom: 51px;
    border: 1px solid #636F87;
    background-color: #636f87;
    opacity: 0.2;
}

.contact__form-btn {
    line-height: 19px;
    font-weight: 700;
    background-color: #1aab7b;
    color: #fff;
    padding: 20px 70px;
    margin-bottom: 24px;
    border-radius: 6px;
    border: 1px solid #1aab7b;
    cursor: pointer;
    transition: 0.5s;
}

.contact__form-btn:hover {
    background-color: #fff;
    color: #1aab7b;
}

.contact__form-btn:active {
    background-color: #1aab7b;
    color: #fff;
    opacity: 0.6;
}

.contact__form-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #858ea2;
    text-align: center;
}

@media only screen and (min-width:768px){
    
    .contact {
        padding: 150px 0 200px;
    }
    
    .contact__wrapper {
        margin-bottom: 60px;
    }
    
    .contact__form  {
        padding: 64px 0;
    }
}

/* ========================== Contact end ====================== */


/* ========================== Footer start ==================== */

.footer {
    background-color: #101010;
    padding: 50px 0;
}

.footer__wrapper {
    margin-bottom: 100px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0 0 40px 0;
}

.footer__network {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer__img {
    fill: #fff;
    margin-right: 40px;
    transition: 0.5s;
}

.footer__title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
    color:#fff;
}

.footer__link {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 26px;
    color: #a1a8b7;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.footer__line {
    margin-bottom: 50px;
    border-bottom: 1px solid #3B4155;
}

.footer__link:hover {
    color: #1aab7b;
}

.footer__link:active {
    color: #1aab7b;
    opacity: 0.8;
}

.footer__img:hover {
    fill: #1aab7b;
}

.footer__img:active {
    fill: #1aab7b;
    opacity: 0.8;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin: 0;
}

.footer__logo-img:hover {
    opacity: 0.8;
}

.footer__logo-img:active {
    opacity: 0.6;
}


@media only screen and (min-width:768px){
    
    
    .footer {
        padding-top: 100px;
    }
    
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .footer__block {
        display: flex;
        justify-content: space-between;
        
    }
    
    .footer__list {
        align-items: flex-start;
        margin: 0;
    }
    
    .footer__list:nth-of-type(2){
        margin-left: 75px;
    }
    
    .footer__link {
        text-align: start;
    }
    
    .footer__city {
        width: 280px;
        margin-bottom: 34px;
    }
    
    
}


@media only screen and (min-width:992px){
    
    .footer__list:nth-of-type(2){
        margin-left: 150px;
    }
    
    
}

/* ========================== Footer end  ===================== */